*.pdf
*.docx
*.doc
*.xls
*.xlsx
*.ppt
*.pptx
*.txt
*.csv
*.node_modules
*.env
*.env.local
*.env.development
*.env.production
*.env.test
*.env.development.local
*.env.production.local
__pycache__
venv
*.db