*.pdf
*.docx
*.doc
*.xls
*.xlsx
*.ppt
*.pptx
*.csv
*.node_modules
*.env
*.env.local
*.env.development
*.env.production
*.env.test
*.env.development.local
*.env.production.local
__pycache__
venv
*.db
*.png
*.txt
*.mp4
*.mp3
*.zip